<?xml version="1.0"?>
<launch>

	<arg name="paused" default="false"/>
	<arg name="kinect_name" default="kinect"/>
	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>

	<!-- send cob urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find robotino_bringup)/robots/$(arg robot)/urdf/robotino.urdf.xacro'" />
	
	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
	  <param name="publish_frequency" type="double" value="50.0" />
	  <param name="tf_prefix" type="string" value="" />
	</node>
	
	<node name="kinect_depth_relay" pkg="topic_tools" type="relay" args="/kinect/depth/points /kinect/depth_registered/points" cwd="node" respawn="true" output="screen"/>

	<!-- start gazebo controllers -->
	<include file="$(find robotino_controller_configuration_gazebo)/launch/default_controllers_robotino.launch"/>

	<node pkg="tf" type="static_transform_publisher" name="$(arg kinect_name)_rgb_frame_broadcaster" args="0.0 -0.045 0.0 0.0 0.0 0.0 1 $(arg kinect_name)_link $(arg kinect_name)_rgb_frame 100" />
	<node pkg="tf" type="static_transform_publisher" name="$(arg kinect_name)_depth_frame_broadcaster" args="0.0 -0.02 0.0 0.0 0.0 0.0 1 $(arg kinect_name)_link $(arg kinect_name)_depth_frame 100" />
	<node pkg="tf" type="static_transform_publisher" name="$(arg kinect_name)_rgb_optical_frame_broadcaster" args="0.0 0.0 0.0 -0.5 0.5 -0.5 0.5 $(arg kinect_name)_rgb_frame $(arg kinect_name)_rgb_optical_frame 100" />
	<node pkg="tf" type="static_transform_publisher" name="$(arg kinect_name)_depth_optical_frame_broadcaster" args="0.0 0.0 0.0 -0.5 0.5 -0.5 0.5 $(arg kinect_name)_depth_frame $(arg kinect_name)_depth_optical_frame 100" />

</launch>
