<?xml version="1.0"?>
<launch>

  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
  <arg name="port" default="/dev/ttyACM0"/>

  <rosparam command= "load" file="$(find robotino_bringup)/robots/$(arg robot)/config/hand.yaml" />
  <rosparam command= "load" file="$(find robotino_bringup)/config/hand_config_param.yaml" />

  <!-- reads joint sensor vales from the Arduino board -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="~port" value="$(arg port)" />
    <param name="~baud" value="57600" />
  </node>

  <!-- the actual controller, taking finger joint values and target joint values and controls finger motors -->
  <node name="kclhand_controller"  pkg="kclhand_control" type="kclhand_controller" output="screen"/>

  <!-- publishes joint states for all joints: the active ones with motors and sensors as well as the passive ones -->
  <node name="kclhand_state_publisher"  pkg="kclhand_control" type="kclhand_state_publisher.py" output="screen" />

</launch>

