<?xml version="1.0"?>
<launch>

<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
<arg name="port" default="/dev/ttyACM0"/>

<rosparam command= "load" file="$(find robotino_bringup)/robots/$(arg robot)/config/hand.yaml" />
<rosparam command= "load" file="$(find robotino_bringup)/config/hand_config_param.yaml" />

<node pkg="rosserial_python" type="serial_node.py" name="serial_node">
  <param name="~port" value="$(arg port)" />
  <param name="~baud" value="57600" />
</node>

<node name="kclhand_controller"  pkg="kclhand_control" type="kclhand_controller" output="screen"/>

</launch>

