<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="port" default="/dev/ttACM0"/>

	<rosparam command= "load" file="$(find robotino_bringup)/$(arg robot)/config/hand.yaml" />
	<rosparam command= "load" file="$(find robotino_bringup)/config/hand_config_param.yaml" />

	<node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
		<param name="~port" value="$(arg port)" />
	</node>

	<node name="get_joint_angle_sensor" pkg="kclhand_control" type="get_joint_angle_sensor_value.py" />

	<node name="get_fingertip_state" pkg="kclhand_control" type="get_fingertip_state.py" />

	<node name="state_publisher" pkg="kclhand_control" type="state_publisher" />

	<node name="squirrel_kclhand_controller"  pkg="kclhand_control" type="squirrel_kclhand_controller" />

</launch>
