<?xml version="1.0"?>
<launch>
	<group ns="arm_controller">
		<rosparam file="$(find robotino_controller_configuration_gazebo)/controller/arm_controller.yaml" />
		<node name="joint_state_arm_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" respawn="true"/>
		<node name="arm_controller_spawner_pos" pkg="controller_manager" type="spawner" respawn="true" output="screen"  args="joint_group_position_controller"/>
		<node name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/> 
		<node name="arm_controller_sim_node" pkg="uibk_robot_driver" type="arm_controller_sim" respawn="true" output="screen">
			<remap from="cmd_rotatory" to="/cmd_rotatory"/>
			<!--remap from="robotino_arm/joint_control/move" to="/sim/robotino_arm/joint_control/move"/-->
		</node>
		<node name="joint_states_relay_base" pkg="topic_tools" type="relay" args="/base/joint_states /joint_states" cwd="node" respawn="true" output="screen"/> 
		<node pkg="rostopic" type="rostopic" args="pub /arm_controller/joint_group_position_controller/command std_msgs/Float64MultiArray '{layout: {dim: [{label: , size: 0, stride: 0}], data_offset: 0}, data: [-0.7,1.9,0,1.7,0]}'" name="arm_to_init_pos" output="screen"/>

	</group> 
</launch>
