<?xml version="1.0"?>
<launch>
	<group ns="arm_controller">

		<rosparam file="$(find robotino_controller_configuration_gazebo)/controller/arm_controller.yaml" />

		<node name="joint_state_arm_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" respawn="true"/>
		<node name="arm_trajectory_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"  args="joint_trajectory_controller"/>

		<node name="arm_controller_sim_node" pkg="squirrel_control" type="arm_controller_sim" respawn="true" output="screen">
			<remap from="cmd_rotatory" to="/cmd_rotatory"/>
		</node>

		<node name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>

	</group>

</launch>
