<?xml version="1.0"?>
<launch>

	<arg name="use_velocity_controller" default="true"/>

    <group ns="arm_controller">
      <!-- Arm Control -->
      <rosparam     if="$(arg use_velocity_controller)" file="$(find robotino_controller_configuration_gazebo)/controller/arm_controller.yaml" />
      <rosparam unless="$(arg use_velocity_controller)" file="$(find robotino_arm_bringup)/config/arm_controllers_position.yaml" />

      <node name="joint_state_arm_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" respawn="true"/>
      <!--node name="arm_controller_spawner_traj" pkg="controller_manager" type="spawner" respawn="true" output="screen"  args="joint_trajectory_controller"/-->
      <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"  args="joint_trajectory_controller"/>
      <!--node name="arm_controller_spawner_vel" pkg="controller_manager" type="spawner" respawn="true" output="screen"  args="joint_group_velocity_controller"/-->
      <node name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>   
      <!--node name="command_mux" pkg="topic_tools" type="mux" args="arm_joint_position_controller/command command" cwd="node" respawn="true" output="screen"/-->
    </group> 

</launch>
