<?xml version="1.0"?>
<launch>
  
    <!-- joint_state_controller -->
    <rosparam file="$(find robotino_controller_configuration_gazebo)/controller/joint_controller.yaml" command="load"/>
    <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="--timeout 60 joint_state_controller" />
  
    <!-- Tilt Control -->
    <rosparam ns="tilt_controller" file="$(find robotino_controller_configuration_gazebo)/controller/tilt_controller.yaml" command="load"/>
    <node ns="tilt_controller" name="joint_state_tilt_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" respawn="true" />
    <node ns="tilt_controller" name="tilt_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"  args="tilt_joint_position_controller"/>
    <node ns="tilt_controller" name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>   
</launch>
