<?xml version="1.0"?>
<launch>	

    <group ns="pan_tilt_controller">
      <!-- Tilt Control -->
      <rosparam file="$(find robotino_controller_configuration_gazebo)/controller/pan_tilt_controller.yaml" command="load"/>
      <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" respawn="true"/>
      <node name="tilt_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"  args="tilt_joint_position_controller"/>
      <node name="pan_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"  args="pan_joint_position_controller"/>
      <!--node name="pan_tilt_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"  args="joint_group_position_controller"/-->
      <node name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>   
      <!--node name="command_mux" pkg="topic_tools" type="mux" args="tilt_joint_position_controller/command command" cwd="node" respawn="true" output="screen"/-->   
    </group> 

</launch>
