<?xml version="1.0"?>
<launch>

  <group ns="rotatory_controller">
      <rosparam  file="$(find robotino_controller_configuration_gazebo)/controller/rotatory_controller.yaml" command="load" />
      <node name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>
      <node name="joint_state_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" respawn="true" />  
      <node name="rotatory_controller_spawner" pkg="controller_manager" type="spawner" args="joint_trajectory_controller" respawn="true" />
  </group>

  <group ns="base_rot_controller">
      <remap from="robot_description" to="/robot_description" />
      <node name="robotino_arm_base_control_node" pkg="robotino_arm_base_control" type="robotino_arm_base_control_node" output="screen">
        <remap from="pause" to="/bumper" />
      </node>
      <rosparam  file="$(find robotino_controller_configuration_gazebo)/controller/rotatory_controller.yaml" command="load" />
      <node name="rotatory_controller_spawner" pkg="controller_manager" type="spawner" args="joint_trajectory_controller" respawn="true" />
  </group>

</launch>
