<?xml version="1.0"?>
<launch>	
  <rosparam file="$(find robotino_controller_configuration_gazebo)/controller/tilt_controller.yaml" command="load" />
  <node name="tilt_controller_spawner" pkg="controller_manager" type="spawner" args="--timeout 60 tilt_controller" />
  <!--node ns="tilt_controller" name="gazebo_services" pkg="robotino_controller_configuration_gazebo" type="gazebo_services.py"  cwd="node" respawn="false" output="screen" /-->

  <!-- joint_state_controller -->
  <rosparam file="$(find robotino_controller_configuration_gazebo)/controller/joint_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="--timeout 60 joint_state_controller" />


</launch>
