<?xml version="1.0"?>
<launch>

	
	<rosparam file="$(find robotino_controller_configuration_gazebo)/config/tilt_controller.yaml" command="load" />

	<node name="tilt_controller_spawner" pkg="controller_manager" type="spawner" args="--timeout 60 tilt_controller" />
	
	<!--node ns="tilt_controller" name="gazebo_services" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py"  cwd="node" respawn="false" output="screen" /-->

</launch>
