<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ****************** -->
  <!-- ***** COMMON ***** -->
  <!-- ****************** -->
  <property name="M_PI" value="3.14159"/>
  <property name="M_SCALE" value="0.01"/>
  <property name="HOKUYO_RADIUS" value="0.02"/>
  <property name="HOKUYO_LENGTH" value="0.07"/>
  <property name="KINECT_LENGTH" value="0.18"/>
  <property name="KINECT_WIDTH" value="0.035"/>
  <property name="KINECT_HEIGHT" value="0.02"/>
	
  <!-- hokuyo mount positions | relative to base_link -->
  <property name="hokuyo_x" value="0.184"/>
  <property name="hokuyo_y" value="0.004"/>
  <property name="hokuyo_z" value="0.16"/>
  <property name="hokuyo_roll" value="0.0"/>
  <property name="hokuyo_pitch" value="0.0"/>
  <property name="hokuyo_yaw" value="-0.015"/>

  <!-- kinect mount positions | handeye calibration | relative to pan_tilt_link -->
  <property name="kinect_x" value="0.0"/>
  <property name="kinect_y" value="0.0"/>
  <property name="kinect_z" value="0.0"/>
  <property name="kinect_roll" value="-1.57"/>
  <property name="kinect_pitch" value="0"/>
  <property name="kinect_yaw" value="0"/>

</robot>
