<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="robot">

  <xacro:include filename="$(find robotino_bringup)/robots/uibk-robotino2/urdf/properties.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/base.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/shell.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/hokuyo.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/kinect.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/arm.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/kclhand_withCableCanal.urdf.xacro" />

  <xacro:arg name="real" default="true"/>

  <xacro:base name="base"/>

  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>base_controller</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <xacro:shell name="shell" parent="base_linkz" base_neck_x="${base_neck_x}" base_neck_y="${base_neck_y}" base_neck_z="${base_neck_z}" base_neck_roll="${base_neck_roll}" base_neck_pitch="${base_neck_pitch}" base_neck_yaw="${base_neck_yaw}" real="$(arg real)">
    <origin xyz="${shell_x} ${shell_y} ${shell_z}" rpy="${shell_roll} ${shell_pitch} ${shell_yaw}"/>
  </xacro:shell>

  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>shell_controller</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <hokuyo name="hokuyo" parent="base_linkz">
    <origin xyz="${hokuyo_x} ${hokuyo_y} ${hokuyo_z}" rpy="${hokuyo_roll} ${hokuyo_pitch} ${hokuyo_yaw}"/>
  </hokuyo>

  <xacro:arm name="arm_" parent="base_linkz">
    <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}"/>
  </xacro:arm>

  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>arm_controller</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>arm_controller_jointstate</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <xacro:kclhand name="hand" parent="arm_link5">
    <origin xyz="0 0 0" rpy="1.5707963 0 0" />
  </xacro:kclhand>

  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>hand_controller</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <kinect name="kinect" parent="neck_tilt_link">
    <origin xyz="${kinect_x} ${kinect_y} ${kinect_z}" rpy="${kinect_roll} ${kinect_pitch} ${kinect_yaw}"/>
  </kinect>

</robot>
