<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
	name="robotino">
  <!-- Include files -->
  <xacro:include filename="$(find robotino_description)/urdf/robotino_body.xacro"/>
  <xacro:include filename="$(find robotino_description)/urdf/robotino_hardware.xacro"/>

  <xacro:include filename="$(find robotino_description)/urdf/kinect.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/hokuyo.urdf.xacro" />

    <robotino_body />

    <xacro:kinect name="kinect" parent="base_link">
      <origin xyz="0.07 0.09 0.76" rpy="0.02 0.705 0.04" />
    </xacro:kinect>

    <xacro:hokuyo name="laser" parent="base_link">
      <origin xyz="0.029 0.00 0.26" rpy="0.00 0.00 0.00" />
    </xacro:hokuyo>


</robot>

          
