<?xml version="1.0"?>
<launch>

	<arg name="robot_env" default="ipa-apartment"/>
	<arg name="debug" default="false"/>
	<arg name="headless" default="false"/>
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="marker"/>
	<arg name="throttled" default="false"/>

	<!-- upload default configuration parameters -->
	<include file="$(find robotino_gazebo_worlds)/launch/upload_object_locations.launch">
		<arg name="robot_env" value="$(arg robot_env)" />
	</include>

	<include file="$(find cob_gazebo_worlds)/launch/world.launch">
		<arg name="robot_env" value="$(arg robot_env)" />
	</include>	
	
</launch>
