<?xml version="1.0"?>
<launch>
	<arg name="debug" default="false"/>
	<arg name="headless" default="false"/>
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="throttled" default="false"/>
	
	<arg name="robot_env" default="simple_room"/>
	
	<!-- start gazebo with empty world -->
	<include file="$(find robotino_gazebo_worlds)/launch/empty.launch">
		<arg name="world_name" value="$(find robotino_gazebo_worlds)/worlds/empty.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="headless" value="$(arg headless)"/>
		<arg name="paused" value="$(arg paused)" />
		<arg name="use_sim_time" value="$(arg use_sim_time)" />
		<arg name="gui" value="$(arg gui)" />
	</include>
	
	<!-- send world urdf to param server -->
	<param name="world_description" command="$(find xacro)/xacro.py $(find robotino_gazebo_worlds)/urdf/simple_room.urdf.xacro" />
	
	<!-- push world_description to factory and spawn robot in gazebo -->
	<node name="spawn_urdf_world" pkg="gazebo_ros" type="spawn_model" args="-urdf -param world_description -x 0 -y 0 -z 0.01 -R 0.0 -P 0.0 -Y 0 -model simple_room" respawn="false" output="screen" />
	

	
</launch>
