<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="robot">

  <xacro:include filename="$(find robotino_bringup)/robots/uibk-robotino2/urdf/properties.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/gazebo.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/base.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/hokuyo.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/kinect.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/pan_tilt_axis.urdf.xacro" />
  <xacro:include filename="$(find robotino_description)/urdf/arm.urdf.xacro" />
  <xacro:include filename="$(find soft_hand_description)/model/softhand_withCableCanal.urdf.xacro" />

  <xacro:base name="base"/>

  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>base_controller</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <hokuyo name="hokuyo" parent="base_link">
    <origin xyz="${hokuyo_x} ${hokuyo_y} ${hokuyo_z}" rpy="${hokuyo_roll} ${hokuyo_pitch} ${hokuyo_yaw}"/>
  </hokuyo>

  <xacro:arm name="arm_" parent="base_link">
    <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}"/>
  </xacro:arm>

  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>arm_controller</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <xacro:soft_hand name="hand" parent="arm_link5" withAdaptiveTransmission="false" useMimicTag="false" left="false">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:soft_hand>

  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>hand_controller</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <pan_tilt_axis parent="base_link">
    <origin xyz="${pan_tilt_x} ${pan_tilt_y} ${pan_tilt_z}" rpy="${pan_tilt_roll} ${pan_tilt_pitch} ${pan_tilt_yaw}"/>
  </pan_tilt_axis>

  <kinect name="kinect" parent="tilt_link">
    <origin xyz="${kinect_x} ${kinect_y} ${kinect_z}" rpy="${kinect_roll} ${kinect_pitch} ${kinect_yaw}"/>
  </kinect>

  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>pan_tilt_controller</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

</robot>
