<?xml version="1.0"?>
<root xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find robotino_description)/urdf/gazebo.urdf.xacro" />

  <xacro:macro name="case" params="name parent *origin">
      
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link" />
      <insert_block name="origin" />
    </joint>

   <link name="${name}_link">
      <inertial>
        <mass value="4" />
        <origin xyz="0 0 0" />
        <inertia ixx="75.0" ixy="0.0" ixz="0.0"
          iyy="75.0" iyz="0.0"
          izz="75.0" />
      </inertial>
      <collision>
        <origin xyz="0.0 0 0.05" rpy="0 0 -0.9"/>
        <geometry>
          <mesh filename="package://robotino_description/meshes/case.stl"/>
        </geometry>
      </collision>
    </link>
    <base_gazebo name="case" />
         
  </xacro:macro>

</root>

