<?xml version="1.0"?>
<launch>

  <arg name="robot" default="kcl-hand"/>

  <!-- COMMON -->
  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find robotino_bringup)/robots/$(arg robot)/urdf/robotino.urdf.xacro'" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <group ns="hand_controller">
    <remap from="robot_description" to="/robot_description" />
    <include file="$(find robotino_bringup)/launch/kclhand.launch" >
	  	  <arg name="robot" value="$(arg robot)" />
	  	  <arg name="port" value="/dev/ttyACM0"/>
    </include>
    <node name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>  
  </group>

</launch>
