<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ****************** -->
  <!-- ***** COMMON ***** -->
  <!-- ****************** -->
  <property name="M_PI" value="3.14159"/>
  <property name="M_SCALE" value="0.01"/>
  <property name="BASE_RADIUS" value="0.18"/>
  <property name="BASE_HEIGHT" value="0.05"/>
  <property name="BASE_MASS" value="20"/>
  <property name="HOKUYO_RADIUS" value="0.02"/>
  <property name="HOKUYO_LENGTH" value="0.07"/>
  <property name="KINECT_LENGTH" value="0.18"/>
  <property name="KINECT_WIDTH" value="0.035"/>
  <property name="KINECT_HEIGHT" value="0.02"/>

  <!-- camera mount positions | handeye calibration | relative to base_link -->
  <property name="camera_x" value="0.0"/>
  <property name="camera_y" value="0.0"/>
  <property name="camera_z" value="0.2"/>
  <property name="camera_roll" value="0.0"/>
  <property name="camera_pitch" value="0.0"/>
  <property name="camera_yaw" value="-${M_PI/2}"/>
	
  <!-- hokuyo mount positions | relative to base_link -->
  <property name="hokuyo_x" value="0.184"/>
  <property name="hokuyo_y" value="0.004"/>
  <property name="hokuyo_z" value="0.16"/>
  <property name="hokuyo_roll" value="0.0"/>
  <property name="hokuyo_pitch" value="0.0"/>
  <property name="hokuyo_yaw" value="-0.015"/>

  <!-- pan_tilt mount positions | handeye calibration | relative to base_pan_link -->
  <property name="pan_tilt_x" value="0.145"/>
  <property name="pan_tilt_y" value="0.194"/>
  <property name="pan_tilt_z" value="0.64"/>
  <property name="pan_tilt_roll" value="0.0"/>
  <property name="pan_tilt_pitch" value="0.0"/>
  <property name="pan_tilt_yaw" value="1.0472"/>
	
  <!-- kinect mount positions | handeye calibration | relative to pan_tilt_link -->
  <property name="kinect_x" value="0.03129"/>
  <property name="kinect_y" value="0.058"/>
  <property name="kinect_z" value="-0.0"/>
  <property name="kinect_roll" value="-1.56905"/>
  <property name="kinect_pitch" value="0.0434565"/>
  <property name="kinect_yaw" value="0.00667917"/>
  
   <!-- arm mount positions | handeye calibration | relative to base_link -->
  <property name="arm_x" value="0.0"/>
  <property name="arm_y" value="0.0"/>
  <property name="arm_z" value="0.35"/>
  <property name="arm_roll" value="0.0"/>
  <property name="arm_pitch" value="0.0"/>
  <property name="arm_yaw" value="0.0"/>
	
   <!-- arm calibration-->
  <property name="arm_1_ref" value="0.0"/>
  <property name="arm_2_ref" value="0.0"/>
  <property name="arm_3_ref" value="0.0"/>
  <property name="arm_4_ref" value="0.0"/>
  <property name="arm_5_ref" value="0.0"/>
  <property name="arm_6_ref" value="0.0"/>


</robot>
